/* Body Background */
body{
	
	background-color: #d5d9de;
}
@media (min-width: 768px) {
	body{
		margin-top: 20px !important;
	}
}
/* Text Style */
p{
	color: #656565;
}

/* Bootstrap Container */
.container{
	background-color: white;
	box-shadow: 0 0 5px #9d9d9d;
}

/* Responsive Video */
video{
	width: 100%;
	height: 100%;
}

.link-wrapper
{
	
}

/* #playSlot:after { */
    /* content: "Play note"; */
    /* font-size: 10px; */
    /* position: relative; */
    /* top: 18px; */
    /* color: black; */
    /* left: -30px; */
	/* width:10px */
/* } */

/* input#fromTime + *:before { */
    /* content: "click to move"; */
    /* font-size: 10px; */
    /* color: #c2c3c3; */
    /* position: absolute; */
    /* top: -1px; */
    /* z-index: 1; */
    /* left: 60px; */
/* } */

/* input#toTime + *:after { */
    /* content: "click to move"; */
    /* font-size: 10px; */
    /* color: #c2c3c3; */
    /* position: absolute; */
    /* top: -1px; */
    /* z-index: 1; */
    /* left: 60px; */
/* } */